input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 40px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    left: 40%;
  }

  body{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: large;
      background-image: url("bgimg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      
  }

  
  .mainbox{
    margin-top: 70px;
    margin-left: 160px;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    border: 2px solid black;
   
   
  }

  .polaroid{
    border-radius: 0%;
    padding: 10px;
    width: 20px;
    margin-bottom: 425px;
    
  

  }
  
  
  .box1{
    display: inline;
    width: 100px;
   margin-left: -10px;
   margin-top: 10px;
   margin-bottom: 10px;
  }
  
  
  
  .box{
      position: relative;
      height: 400px;
      width: 400px;
      top: 50%;
      left: 68%;
      transform: translate(-50%,-50%);
      padding: 45px;
     

  }
  

  button {
    background-color: #1b98ca;
    color: white; 
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  

  .signupbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;

  }
  
 
  .container {
    padding: 25px;
  }

  span.signup{
    float: none;
    padding-top: 16px;
    
}

  
  span.psw {
    float: right;
    padding-top: 1px;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) { 
    span.psw {
      display: block;
      float: none;
    }


    .signupbtn {
      width: 100%;
    }
  }