body{
    background-image: url("/bg1.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 300px;
  } 

  .container-1{
    position: absolute;
    height: 10px;
    width: 600px;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%)
    
  }
  
  .box{ position: fixed;
    width: fit-content;
  
  }
    
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: flex;
    align-content: flex-end;
    border: none;
    background: #f1f1f1; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  input[type=text]:focus, input[type=password]:focus {
     background-color: #ddd; 
    outline: none;
  }
  

  /* Set a style for the submit/register button */
  #signupbtn {
    background-color: #30529b;
    color: white;
    padding: 10px 5px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
  
  }
  
  #signupbtn:hover {
    opacity: 1;
  }
  
  
  a {
    color: rgb(3, 47, 241);
  }
  
  
  .signin {
    /* background-color: #f1f1f1; */
    text-align: left;
  }